::ng-deep .success-snackbar {
  background-color: #4caf50 !important;
  color: white !important;
  font-weight: bold !important;
  border: 2px solid #2e7d32 !important;
}

::ng-deep .error-snackbar {
  background-color: #f44336 !important;
  color: white !important;
  font-weight: bold !important;
  border: 2px solid #c62828 !important;
}

::ng-deep .info-snackbar {
  background-color: #2196f3 !important;
  color: white !important;
  font-weight: bold !important;
  border: 2px solid #1565c0 !important;
}

::ng-deep .mat-mdc-snack-bar-container {
  --mdc-snackbar-container-shape: 0px !important;
  box-shadow: 4px 4px 0px 0px rgba(0,0,0,1) !important;
}
