@media (max-width: 767px) {

  
  td {
    font-size: .8em;
  }
  
  td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 0.5em; /* Add some space between label and value */
  }
  
  } 

